#home-page-container{
    height: 1000px;
    background: black;
    position: relative;
    overflow: hidden;
}

#logo2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    order: -10;
    margin-top: -470px;
}

#logo{
width: 220px;
position: absolute;
margin-left: -6px;
margin-top: 50px;
}

#home-page-overlay{
   height: 350px;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   
} 
#home-page-overlay h1{
    font-size: 60px;
    color: #7e7e7e;
    margin-left: 300px;
    margin-top: -20px;
    position: absolute;
    order: 2;
    display: flex;
    justify-content: end;
}


#home-page-container h3{
    font-size: 20px;
    color: #7e7e7e;
    margin-left: 20px;
    margin-top: 440px;
    position: relative;
    order: 2;
    display: flex;
    justify-content: end;
}