#dropdown-container{
position: absolute;
}
.profile-dropdown {
  position: absolute;
  order: 5;
}
#navbar {
  background-color: #7e7e7e;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #686868;
}


.active {
  background-color: #265d0c;
}

