.profile-dropdown {
  position: absolute;
}

#navbar{
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  background-color: blue;
}

.navbarElements{
  display: flex;
  justify-content: flex-end;
}